In [4]:
import pandas as pd
import pyodbc
from sqlalchemy import create_engine
import schedule
import time
import psycopg2
import getpass

In [5]:
server = str(input("insert server: "))
database = str(input("insert database: "))
user_name = str(input("insert username: "))
password = getpass.getpass("insert password: ")

insert server: DESKTOP-TS0EFTA
insert database: AdventureWorksDW2019
insert username: stone123
insert password: ········

In [7]:
#Checks if the connection is successful or not
if __name__ == '__main__':
	try:
	
		#Creates the connection to the database
		engine_source = create_engine(f'mssql+pyodbc://{user_name}:{password}@{server}/{database}?driver=SQL+Server+Native+Client+11.0',fast_executemany=True)
		print(f"Connection to the {database} at {server} created successfully.")

	except Exception as ex:
		print("Connection could not be made due to the following error: \n", ex)

Connection to the AdventureWorksDW2019 at DESKTOP-TS0EFTA created successfully.

In [8]:
# postgres engine connection
engine_destination= create_engine("postgresql://postgres:obembe225@localhost:5433/stoney")

In [25]:
def etl_process():
    sql=" select *    FROM [AdventureWorksDW2019].[dbo].[DimCustomer]"
df=pd.read_sql(sql,engine_source,chunksize=1000000)
df1=pd.DataFrame()
for a in df:
    df1=df1.append(a)
df=df1[df1['SpanishOccupation']=='Profesional']
df.to_sql('dest',con=engine_destination,if_exists='append',index=False)

C:\Users\stone\AppData\Local\Temp\ipykernel_17524\3181675303.py:6: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df1=df1.append(a)

520

In [ ]:
# Schedule ETL process to run every Monday at 5am
schedule.every().thursday.at("01:50").do(etl_process)

while True:
    schedule.run_pending()
    time.sleep(1)